name: Tests with Allure

on:
  push:
    branches: [ main, master ]
  
  workflow_dispatch:
    inputs:
      test_type:
        description: 'Тип тестов'
        required: true
        default: 'all'
        type: choice
        options:
          - all
          - api
          - ui

jobs:
  test:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          pip install pytest allure-pytest playwright
          playwright install chromium
      
      - name: Run API tests
        if: github.event.inputs.test_type == 'all' || github.event.inputs.test_type == 'api'
        run: |
          cd API_tests
          pytest test_API.py -v --alluredir=../allure-results
      
      - name: Run UI tests
        if: github.event.inputs.test_type == 'all' || github.event.inputs.test_type == 'ui'
        run: |
          cd UI_E2E_tests
          pytest tests/ -v --alluredir=../allure-results
      
      - name: Generate Allure Report
        if: always()
        uses: simple-elf/allure-report-action@master
        with:
          allure_results: allure-results
          allure_report: allure-report
      
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: |
            allure-report/
            allure-results/
