name: automated tests

on: push

jobs: 
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install allure-pytest
          pip install playwright
          playwright install chromium
      
      - name: Run tests
        run: |
          pytest proj/ --maxfail=1 --disable-warnings -v --alluredir=allure-results